<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fablab Beijing</title>
    <!-- <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/flat-ui.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/style.css">
 -->

    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/flat-ui.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/icon-font.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/animations.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/header.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/project.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/content.css">    
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/footer.css">
</head>
<body>

  
  <header class="header-10">
      <div class="container">
          <div class="row">
              <div class="navbar col-sm-12" role="navigation">
                      <a class="brand" href="{{ .Site.BaseUrl }}">Startup</a>
                  <div class="pull-right">
                      <ul class="nav ">
                          <li><a href="/blog/">博客</a></li>
                          <li><a href="/activity/">活动</a></li>
                          <li><a href="/member/">会员</a></li>
                          <li><a href="/equipment/">设备</a></li>
                      </ul>                    
                  </div>
              </div>
          </div>
      </div>
      <div class="header-background"></div>
  </header>
<section class="header-10-sub v-center bg-midnight-blue" >
    <div class="background">&nbsp;</div>
    <div>
        <div class="container">
            <div class="hero-unit">
                <h1>Startup Framework is a set of components</h1>
                <p>We’ve created the product that will help your
                    <br> startup to look even better.</p>
            </div>
        </div>
    </div>
</section>





<section class="projects-3">
    <div class="container">
        <h3>We love what we do. <br> This is features of our products</h3>
        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper" data-toggle="modal" data-target="#Modal1">
                        <div class="photo" style="background-image: url(file:///C:/Users/swortain/Desktop/Startup%20Framework/Developer/common-files/img/projects/img-2.png);"><img src="../../common-files/img/projects/img-2.png" alt="" style="display: none;">
                        </div>
                        <div class="overlay"><span class="fui-eye"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Flat UI Pro</div>
                        Web Development, Illustrations
                    </div>
                </div>
            </div>
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper" data-toggle="modal" data-target="#Modal2">
                        <div class="photo" style="background-image: url(file:///C:/Users/swortain/Desktop/Startup%20Framework/Developer/common-files/img/projects/img-3.png);"><img src="../../common-files/img/projects/img-3.png" alt="" style="display: none;">
                        </div>
                        <div class="overlay"><span class="fui-eye"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Startup Kit</div>
                        Web Development, Web Design
                    </div>
                </div>
            </div>
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper" data-toggle="modal" data-target="#Modal3">
                        <div class="photo" style="background-image: url(file:///C:/Users/swortain/Desktop/Startup%20Framework/Developer/common-files/img/projects/img-4.png);"><img src="../../common-files/img/projects/img-4.png" alt="" style="display: none;">
                        </div>
                        <div class="overlay"><span class="fui-eye"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Impressionist UI</div>
                        Web Development, iOS Design
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>


<!-- Modal1 -->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal2 -->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal3 -->
<div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<section class="content-12">
    <a class="wide btn-wide" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1"><b>What's more</b> <b>共进社</b></a>
    <div class="collapse" id="collapse1">
        <div class="well" style="text-align:center">
            共进社很厉害
        </div>
    </div>
</section>



{{ partial "footer.html" . }}