
   
     <footer class="footer-2 bg-midnight-blue">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li><a href="/about">关于我们</a></li>
                <li><a href="/cooperation">商业合作</a></li>
                <li><a href="/media">媒体报道</a></li>
                <li><a href="/partner">合作伙伴</a></li>
                <li><a href="/join">加入我们</a></li>
            </ul>
        </nav>
        <div class="social-btns pull-right">
        </div>
        <div class="additional-links">
            欢迎关注我们的微信和微博
        </div>
    </div>
</footer>


    <script src="{{ .Site.BaseUrl }}/js/jquery-1.10.2.min.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/bootstrap.min.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/modernizr.custom.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/page-transitions.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/easing.min.js"></script>
<!--     <script src="{{ .Site.BaseUrl }}/js/jquery.svg.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/jquery.svganim.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/jquery.parallax.min.js"></script> -->
    <script src="{{ .Site.BaseUrl }}/js/startup-kit.js"></script>
 </body>
 </html>