<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fablab Beijing</title>
    <!-- <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/flat-ui.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/style.css">
 -->

    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/flat-ui.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/icon-font.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/animations.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/header.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/project.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/content.css">    
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/footer.css">
</head>
<body>

	
  <header class="header-10">
      <div class="container">
          <div class="row">
              <div class="navbar col-sm-12" role="navigation">
                      <a class="brand" href="{{ .Site.BaseUrl }}">Startup</a>
                  <div class="pull-right">
                      <ul class="nav ">
                          <li><a href="/blog/">博客</a></li>
                          <li><a href="/activity/">活动</a></li>
                          <li><a href="/member/">会员</a></li>
                          <li><a href="/equipment/">设备</a></li>
                      </ul>                    
                  </div>
              </div>
          </div>
      </div>
      <div class="header-background"></div>
  </header>